body{
font-family: 'Rubik', sans-serif;
background-image: url(../image/fundo-site.png);
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;

}
.cabecario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
.cabecario .titulo{
    color: rgb(0, 0, 0);
    font-size: 50px;
}
.cabecario .logo{
width: 100px;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px 0;

}
.btn-seta{
    background-color: transparent;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s
    ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-seta:hover{
    background-color: rgb(79, 117, 187);
}
.btn-seta.btn-voltar{
    transform: rotateY(180deg);
}
.lista-lutadores{
    width: 310px;
    height: 520px;
    position: relative;
}
.cartao{
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cartao.selecionado{
    opacity: 1;
    z-index: 1;
}
.cartao .infos{
    background-color:rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cartao .infos .nome{
    color: white;
    font-size: 18px;
}
.cartao .infos .tgrama{
    background-color: rgb(17, 201, 36);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tvenenoso{
    background-color: rgb(144, 17, 123);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tvoador{
    background-color: rgb(15, 157, 228);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tinseto{
    background-color: rgb(124, 232, 23);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tfogo{
    background-color: rgb(232, 23, 23);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tagua{
    background-color: rgb(21, 0, 255);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tnormal{
    background-color: rgb(188, 124, 88);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .teletrico{
    background-color: rgb(255, 247, 0);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tterrestre{
    background-color: rgb(170, 146, 94);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tlutador{
    background-color: rgb(190, 79, 28);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tpsiquico{
    background-color: rgb(211, 52, 163);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .taco{
    background-color: rgb(121, 121, 121);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tgelo{
    background-color: rgb(84, 157, 179);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tfantasma{
    background-color: rgb(131, 9, 187);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tpedra{
    background-color: rgb(154, 155, 117);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .infos .tdragao{
    background-color: rgb(199, 103, 39);
    color: black;
    border-radius: 20px;
    padding: 5px 8px;
}
.cartao .container-imagem{
    text-align: center;
}
.cartao .imagem-pokemon{
    max-width: 100%;
    max-height: 280px;
    height: 200px;
}
.cartao .descricao{
    background:rgba(179, 177, 185, 0.7) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cartao .descricao .titulo{
    background-color: #333;
    font-size:20px;
    color: white;
    padding: 12px;
    
}
.cartao .descricao .texto{
    font-size: 15px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
    height: 115px;
}
.agua{
    background: url(../image/Fundo/agua.png);
    background-size: cover;
}
.grama{
    background: url(../image/Fundo/Planta.png);
    background-size: cover;
}
.fogo{
    background: url(../image/Fundo/fogo.jpg);
    background-size: cover;
}
.normal{
    background: url(../image/Fundo/normal.jpg);
    background-size: cover;
}
.voador{
    background: url(../image/Fundo/voador.jpg);
    background-size: cover;
}
.inseto{
    background: url(../image/Fundo/inseto.jpg);
    background-size: cover;
}
.eletrico{
    background: url(../image/Fundo/eletrico.jpg);
    background-size: cover;
}
.veneno{
    background: url(../image/Fundo/Poison.png);
    background-size: cover;
}
.terrestre{
    background: url(../image/Fundo/pedra.png);
    background-size: cover;
}
.psiquico{
    background: url(../image/Fundo/Psiquico.png);
    background-size: cover;
}
.lutador{
    background: url(../image/Fundo/Luta.jpg);
    background-size: cover;
}
.gelo{
    background: url(../image/Fundo/gelo.png);
    background-size: cover;
}
.fantasma{
    background: url(../image/Fundo/fan.png);
    background-size: cover;
}
.dragao{
    background: url(../image/Fundo/dragao.png);
    background-size: cover;
}